 <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">

      <div class="content">
        <h2>Configuration du système</h2>
        <div class="button-group">
          <button mat-raised-button class="custom" (click)="afficheSection('menu')">Menu</button>
          <button mat-raised-button class="custom" (click)="afficheSection('restaurant')">Restaurant</button>
          <button mat-raised-button class="custom" (click)="afficheSection('user')">User</button>
          <button mat-raised-button class="custom" (click)="afficheSection('account')">Account</button>
        </div>
        <ng-container *ngIf="sectionActive === 'menu'">
        <div class="menu"  *ngIf="selectedSection === 'menu'" >
            <div class="button-group">
                <h1>Menu</h1>
                <button mat-raised-button class="custom" (click)="afficherSection('menu')">Menu Items</button>
                <button mat-raised-button class="custom" (click)="afficherSection('sub')">Sub Menu</button>
                <button mat-raised-button class="custom" (click)="afficherSection('type')">Menu Type</button>
            </div>
            <!--item-->
            <div class="menu-container">
                <div class="menu-items">
                  <div class="menu-header">
                    <h3>Menu Items</h3>
                    <button mat-raised-button class="custom" (click)="ouvrirDialog(menuItemDialog)">Ajouter un article</button>
                    <!-- add menu items -->
                     
                    <ng-template #menuItemDialog>
                      <mat-dialog-content>
                        <form>
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Nom</mat-label>
                            <input matInput type="text" required [(ngModel)]="newMenu.name" name="menuName">
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Prix</mat-label>
                            <input matInput type="text"  [(ngModel)]="newMenu.prix" name="prix">
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Catégorie</mat-label>
                            <mat-select [(ngModel)]="selectedCategory" name="category" required>
                              <mat-option *ngFor="let category of categories" [value]="category.id">
                                {{ category.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Type</mat-label>
                            <mat-select [(ngModel)]="selectedType" name="type" required>
                              <mat-option *ngFor="let type of types" [value]="type.id">
                                {{ type.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Description</mat-label>
                            <input matInput type="text" required [(ngModel)]="newMenu.description" name="description">
                          </mat-form-field>
                          <div class="upload-container">
                            <input type="file" id="fileInput" hidden>
                            <label for="fileInput" class="upload-btn">Click to upload an image</label>
                          </div>
                        </form>
                      </mat-dialog-content>
                      <mat-dialog-actions>
                        <button mat-button (click)="addMenu()">Ajouter</button>
                      </mat-dialog-actions>
                    </ng-template>
                    
                  </div>
                  
                  <div class="place">
                   <table mat-table [dataSource]="menus" class="mat-elevation-z8">

                    <ng-container matColumnDef="nom">
                        <th mat-header-cell *matHeaderCellDef> Nom de l'article </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="prix">
                        <th mat-header-cell *matHeaderCellDef> Prix de l'article </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.prix}} </td>
                    </ng-container>

                    <ng-container matColumnDef="categorie">
                        <th mat-header-cell *matHeaderCellDef> Catégorie </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.categorie}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.type}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedMenuColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedMenuColumns;"></tr>

                    </table>  
                    </div>   
                  </div>
                  
                <div class="menu-categories"> 
                    <h3>Menu Categories</h3>
                  <div class="menu-header">
                  <p>Ajouter, modifier, réorganiser les catégories de menu comme vous souhaitez qu'elles apparaissent dans votre menu</p>
                  <button mat-raised-button class="custom" (click)="ouvrirDialog(categoryDialog)">Ajouter une catégorie</button>
                  <ng-template #categoryDialog>
                    <mat-dialog-content>
                      <form>
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Nom de la catégorie</mat-label>
                          <input matInput type="text" required [(ngModel)]="newCategory.name" name="categoryName">
                        </mat-form-field>
                      </form>
                    </mat-dialog-content>
                    <mat-dialog-actions>
                      <button mat-button (click)="addCategory()">Ajouter</button>
                    </mat-dialog-actions>
                  </ng-template>
                </div>
                <div class="place1"> 
                  <table mat-table [dataSource]="categories" class="mat-elevation-z8">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let category"> {{category.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nom de la catégorie </th>
                        <td mat-cell *matCellDef="let category"> {{category.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>  </th>
                      <td mat-cell *matCellDef="let category">
                        <a class="" (click)="editCategory(category)"><i class="fi fi-rr-pencil"></i></a>
                        <a class="" (click)="deleteCategory(category.id)"><i class="fi fi-rr-trash"></i></a>
                        <ng-template #categoryDialog1>
                    <mat-dialog-content>
                      <form>
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Nom de la catégorie</mat-label>
                          <input matInput type="text" required [(ngModel)]="editCategory" [value]="category.name">
                        </mat-form-field>
                      </form>
                    </mat-dialog-content>
                    <mat-dialog-actions>
                      <button mat-button (click)="updateCategory()">Modifier</button>
                    </mat-dialog-actions>
                  </ng-template>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedCategorieColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedCategorieColumns;"></tr>

                    </table> 
                </div>
                </div>
            </div>
        </div> 
        <!--sub-->
        <div class="sub" *ngIf="selectedSection === 'sub'">
            <div class="button-group">
                <h1>Menu</h1>
                <button mat-raised-button class="custom" (click)="afficherSection('menu')">Menu Items</button>
                <button mat-raised-button class="custom" (click)="afficherSection('sub')">Sub Menu</button>
                <button mat-raised-button class="custom" (click)="afficherSection('type')">Menu Type</button>
            </div>
            <!--item-->
            <div class="menu-container">
                <div class="menu-items">
                  <div class="menu-header">
                    <h3>Menu Items</h3>
                    <button mat-raised-button class="custom" (click)="ouvrirDialog(menuItemDialog)">Add Menu Item</button>
                    <!-- add menu items -->
                    <ng-template #menuItemDialog>
                      <mat-dialog-content>
                        <form>
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Nom</mat-label>
                            <input matInput type="text" required [(ngModel)]="newMenu.name" name="menuName">
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Prix</mat-label>
                            <input matInput type="text"  [(ngModel)]="newMenu.prix" name="prix">
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Catégorie</mat-label>
                            <mat-select [(ngModel)]="selectedCategory" name="category" required>
                              <mat-option *ngFor="let category of categories" [value]="category.id">
                                {{ category.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Type</mat-label>
                            <mat-select [(ngModel)]="selectedType" name="type" required>
                              <mat-option *ngFor="let type of types" [value]="type.id">
                                {{ type.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Description</mat-label>
                            <input matInput type="text" required [(ngModel)]="newMenu.description" name="description">
                          </mat-form-field>
                          <div class="upload-container">
                            <input type="file" id="fileInput" hidden>
                            <label for="fileInput" class="upload-btn">Click to upload an image</label>
                          </div>
                        </form>
                      </mat-dialog-content>
                      <mat-dialog-actions>
                        <button mat-button (click)="addMenu()">Ajouter</button>
                      </mat-dialog-actions>
                    </ng-template>
                  </div>
                  
                  <div class="place"> 
                  <table mat-table [dataSource]="menus" class="mat-elevation-z8">

                    <ng-container matColumnDef="nom">
                        <th mat-header-cell *matHeaderCellDef> Nom de l'article </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="prix">
                        <th mat-header-cell *matHeaderCellDef> Prix de l'article </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.prix}} </td>
                    </ng-container>

                    <ng-container matColumnDef="categorie">
                        <th mat-header-cell *matHeaderCellDef> Catégorie </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.categorie}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.type}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedMenuColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedMenuColumns;"></tr>

                    </table> 
                </div>    
                  </div>
                  
                <div class="menu-categories"> 
                    <h3>Menu Categories</h3>
                  <div class="menu-header">
                  <p>Add, Edit, Reorder Menu <br>Categories as you would like to appear on your Menu</p>
                  <button mat-raised-button class="custom" (click)="ouvrirDialog(categoryDialog)">Ajouter un sous</button>
                   <!-- add categorie -->
                  <ng-template #categoryDialog>
                    <mat-dialog-content>
                      <form>
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Nom</mat-label>
                          <input matInput type="text" required>
                        </mat-form-field>
                      </form>
                    </mat-dialog-content>
                    <mat-dialog-actions>
                      <button mat-button (click)="fermerDialog()">Fermer</button>
                    </mat-dialog-actions>
                  </ng-template>
                </div>
                <div class="place"> 
                  <table mat-table [dataSource]="categories" class="mat-elevation-z8">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let category"> {{category.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nom de la catégorie </th>
                        <td mat-cell *matCellDef="let category"> {{category.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>  </th>
                      <td mat-cell *matCellDef="let category">
                        <a class="" (click)="editCategory(category)"><i class="fi fi-rr-pencil"></i></a>
                        <a class="" (click)="deleteCategory(category.id)"><i class="fi fi-rr-trash"></i></a>
                        <ng-template #categoryDialog1>
                    <mat-dialog-content>
                      <form>
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Nom de la catégorie</mat-label>
                          <input matInput type="text" required [(ngModel)]="editCategory" [value]="category.name">
                        </mat-form-field>
                      </form>
                    </mat-dialog-content>
                    <mat-dialog-actions>
                      <button mat-button (click)="updateCategory()">Modifier</button>
                    </mat-dialog-actions>
                  </ng-template>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedCategorieColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedCategorieColumns;"></tr>

                    </table> 
                   </div>
                </div>
            </div>
        </div> 
      
        <!--type-->
        <div class="type" *ngIf="selectedSection === 'type'">
            <div class="button-group">
                <h1>Menu</h1>
                <button mat-raised-button class="custom" (click)="afficherSection('menu')">Menu Items</button>
                <button mat-raised-button class="custom" (click)="afficherSection('sub')">Sub Menu</button>
                <button mat-raised-button class="custom" (click)="afficherSection('type')">Menu Type</button>
            </div>
            <!--item-->
            <div class="menu-container">
                <div class="menu-items">
                  <div class="menu-header">
                    <h3>Menu Items</h3>
                    <button mat-raised-button class="custom" (click)="ouvrirDialog(menuItemDialog)">Ajouter un article</button>
                    <!-- add menu items -->
                    <ng-template #menuItemDialog>
                      <mat-dialog-content>
                        <form>
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Nom</mat-label>
                            <input matInput type="text" required [(ngModel)]="newMenu.name" name="menuName">
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Prix</mat-label>
                            <input matInput type="text"  [(ngModel)]="newMenu.prix" name="prix">
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Catégorie</mat-label>
                            <mat-select [(ngModel)]="selectedCategory" name="category" required>
                              <mat-option *ngFor="let category of categories" [value]="category.id">
                                {{ category.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Type</mat-label>
                            <mat-select [(ngModel)]="selectedType" name="type" required>
                              <mat-option *ngFor="let type of types" [value]="type.id">
                                {{ type.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Description</mat-label>
                            <input matInput type="text" required [(ngModel)]="newMenu.description" name="description">
                          </mat-form-field>
                          <div class="upload-container">
                            <input type="file" id="fileInput" hidden>
                            <label for="fileInput" class="upload-btn">Click to upload an image</label>
                          </div>
                        </form>
                      </mat-dialog-content>
                      <mat-dialog-actions>
                        <button mat-button (click)="addMenu()">Ajouter</button>
                      </mat-dialog-actions>
                    </ng-template>
                  </div>
                  
                  <div class="place"> 
                  <table mat-table [dataSource]="menus" class="mat-elevation-z8">

                    <ng-container matColumnDef="nom">
                        <th mat-header-cell *matHeaderCellDef> Nom de l'article </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="prix">
                        <th mat-header-cell *matHeaderCellDef> Prix de l'article </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.prix}} </td>
                    </ng-container>

                    <ng-container matColumnDef="categorie">
                        <th mat-header-cell *matHeaderCellDef> Catégorie </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.categorie}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let menu"> {{menu.type}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedMenuColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedMenuColumns;"></tr>

                    </table> 
                </div>  
                  </div>
                  
                <div class="menu-categories"> 
                    <h3>Menu Types</h3>
                  <div class="menu-header">
                  <p>Ajouter, modifier, réorganiser les types de menu <br> comme vous souhaitez qu'elles apparaissent dans votre menu</p>
                  <button mat-raised-button class="custom" (click)="ouvrirDialog(typeDialog)">Ajouter un type</button>
                   <!-- add type -->
                  <ng-template #typeDialog>
                    <mat-dialog-content>
                      <form>
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Nom du type</mat-label>
                          <input matInput type="text" required [(ngModel)]="newType.name" name="typeName">
                        </mat-form-field>
                      </form>
                    </mat-dialog-content>
                    <mat-dialog-actions>
                      <button mat-button (click)="addType()">Ajouter</button>
                    </mat-dialog-actions>
                  </ng-template>
                </div>
                <div class="place1"> 
                  <table mat-table [dataSource]="types" class="mat-elevation-z8">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let type"> {{type.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nom du type </th>
                        <td mat-cell *matCellDef="let type"> {{type.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>  </th>
                      <td mat-cell *matCellDef="let type">
                        <a class="" (click)="editType(type)"><i class="fi fi-rr-pencil"></i></a>
                        <a class="" (click)="deleteType(type.id)"><i class="fi fi-rr-trash"></i></a>
                        <ng-template #categoryDialog1>
                    <mat-dialog-content>
                      <form>
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Nom du type</mat-label>
                          <input matInput type="text" required [(ngModel)]="editType" [value]="type.name">
                        </mat-form-field>
                      </form>
                    </mat-dialog-content>
                    <mat-dialog-actions>
                      <button mat-button (click)="updateType()">Modifier</button>
                    </mat-dialog-actions>
                  </ng-template>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedTypeColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedTypeColumns;"></tr>

                    </table> 
                   </div>
                </div>
            </div>
        </div> 
</ng-container>
        <div *ngIf="sectionActive === 'restaurant'">
           <app-restaurant></app-restaurant> 
        </div>

        <div *ngIf="sectionActive === 'user'">
          <app-user></app-user> 
        </div>
        
        <div *ngIf="sectionActive === 'account'">
          <app-account></app-account> 
        </div>
 
          </div>

      
    
  