<mat-sidenav-container class="sidebar-container" *ngIf="router.url !== '/login' && router.url !== '/client'">
  <mat-sidenav 
  #sidenav
  mode="side"
  opened="false"
  class="sidenav"
  >
<mat-nav-list>
  <mat-list-item routerLink="/">Dashboard</mat-list-item>
  <mat-list-item routerLink="/setup">Paramètre</mat-list-item>
  <mat-list-item (click)="logout()">Deconnexion</mat-list-item>
  <mat-list-item routerLink="/">Dashboard</mat-list-item>
</mat-nav-list>
</mat-sidenav>
  <mat-sidenav-content class="main-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button> Resto <mat-icon class="icon">restaurant</mat-icon>
    </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


<ng-container *ngIf="router.url === '/login' || router.url === '/client'">
  <router-outlet></router-outlet>
</ng-container>