
  
  .custom {
    background-color: orangered !important;
    color: white !important;
    height: 20px;
    border-radius: 20px;
    margin-left: 10px;
    border: none;
  }

/*user*/
.button-user {
  display: flex;
  gap: 5px;
  align-items: center;
}



.user-container{
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
}


.full-width {
  display: block;
  width: 100%;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-btn {
  background-color: #ff8a65;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  display: inline-block;
  text-align: center;
}

.upload-btn:hover {
  background-color: #ff7043;
}

.upload-btn:active {
  background-color: #ff5722;
}

 .place {
    width: 60%;
    height: 300px;
    overflow-y: scroll;
    border: 2px solid #ddd;
    margin-top: 20px;
  }